# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6 
print(number)

6

##### Assinging float

In [ ]:
numberFloat = 2.3
print(numberFloat)
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

#### Performing Calculations on ints and floats

##### Addition

In [8]:
num1 = 2
num2 = 5.4
result = num1 + num2
print(result)

result += 2
print(result)
print(result + 2)

7.4
9.4
11.4

##### Subtraction

In [9]:
result_diff = num2 - num1
print(result_diff)

result_diff -=1
print(result_diff)
print(result_diff-1)

3.4000000000000004
2.4000000000000004
1.4000000000000004

##### Multiplication

In [10]:
result_mul = num1 * num2
print(result_mul)

result_mul *=2
print(result_mul)

10.8
21.6

##### Division

In [11]:
result_div = num2/num1
print(result_div)

result_div /=3
print(result_div)

2.7
0.9

##### Floor Division

In [12]:
result_floor = num2 // num1
print(result_floor)

result_floor //=2
print(result_floor)

2.0
1.0

##### Modulo

In [13]:
result_modulo = 13 %2
print(result_modulo)

result_modulo %= 2
print(result_modulo)

1
1

##### Exponential

In [14]:
square = 5 **2
print(square)

square **=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [15]:
name = "Brandon"
print(name)

Brandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [16]:
print("This is my first name:",name)
# print("Full Name:", name, end = " Apol")
print("Full Name:", name + " Apol")

This is my first name: Brandon
Full Name: Brandon Apol

##### String Concatenation

In [17]:
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

full_name += ",Jr"
print(full_name)

John Smith
John Smith,Jr

##### Type Conversion

In [18]:
number = "32"
change_type_num = int(number)
print(number)
print(change_type_num +1)

32
33

##### input()

In [21]:
#input will always return a string 
name = input("What is your name? ")
# print("Nice to meet you, " + name)
# age = int(input("What is your age? "))
add_age = age + 5
print(add_age)

What is your name? Bethany
Nice to meet you, Bethany
What is your age? 22
27

##### format()

In [39]:
age = input("What is your age? ")
result_string = "You are {} {} and you are getting wiser!".format(age,name)
print(result_string)

result_again = f"{age} is a great time in life!"
print(result_again)

What is your age? 22
You are 22 Bethany and you are getting wiser!
22 is a great time in life!

##### Old Way (python 2)

In [ ]:
result_string2 = "You are %s and you look great for your age" %age
print(result_string2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [40]:
color = input("What color is your car? ")
year = input("What year is it? ")
make = input ("What is the make of your car? ")
model = input ("What model is your car? ")
message = "Cool car! What type is it? "
print (message + "it is a" + " " + color + " " + year + " " + make + " "+ model)
print(f"{message} it is a {color} {year} {make} {model}")

What color is your car? ford
What year is it? 2023
What is the make of your car? turbo
What model is your car? turbo2
Cool car! What type is it? it is a ford 2023 turbo turbo2
Cool car! What type is it?  it is a ford 2023 turbo turbo2

### If Statements

In [25]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 1

# if num1 == num2:
#     print("This is true")
# else:
#     print("This is not true")

if num2 < num1 or num3 > 0:
    print("Num 2 is greater")
# elif num1 > num2:
#     print("Num 1 is greater")
else:
    print("Equal values")

Num 2 is greater

##### 'is' keyword

In [26]:
#the 'is' keyword is for checking for the same object, but not the same value

num3 = 55

if num3 is 55:
    print("This is the exact number or object")

This is the exact number or object

<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/nt/q5vg79b57vx3t4qk1mmb931w0000gp/T/ipykernel_25472/2755746827.py:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [30]:
#this will check if a character is in a string

char_name = "Frodo Baggins"
if "Frodo" in char_name:
    print("Yes")

Yes

##### 'not in' keyword'

In [31]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print("a is not here")

a is not here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [37]:
x = input("How do you spell Input")
if "p" in x:
    print("Yes, there is a p in input")

How do you spell InputInput
Yes, there is a p in input

## Using 'and'/'or' with If Statements

In [43]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
if num_11 > num_12 or num_13 == num_14:
    print("True and False")

True and True
True and False

### Elif Statements

In [45]:
first_name = input("What is your name? ")
if first_name == "Smith":
    print("The name is Smith")
elif first_name == "Brandon":
    print("The name is Brandon")
elif first_name != "Max":
    print("The name is not Max")
else:
    print("The name is Max")

What is your name? Bethany
The name is not Max

### Else Statements

In [ ]:
# see above

### For Loops

In [53]:
#syntax: for counter in condition

name = "Brandon Apol"
for letter in name:
    print(letter)

B
r
a
n
d
o
n

A
p
o
l

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [58]:
name = "Brandon Apol"
for i in name:
    if i =="a":
        continue
    print(i)

B
r
n
d
o
n

A
p
o
l

##### Break Statement

In [ ]:
# will break out of current loop

In [59]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [61]:
name = "Brandon Apol"
for i in name:
    pass

##### Double For Loops

In [66]:
for i in range (5):
    for j in range(5):
        print('i = ', i, 'j =', j)

i =  0 j = 0
i =  0 j = 1
i =  0 j = 2
i =  0 j = 3
i =  0 j = 4
i =  1 j = 0
i =  1 j = 1
i =  1 j = 2
i =  1 j = 3
i =  1 j = 4
i =  2 j = 0
i =  2 j = 1
i =  2 j = 2
i =  2 j = 3
i =  2 j = 4
i =  3 j = 0
i =  3 j = 1
i =  3 j = 2
i =  3 j = 3
i =  3 j = 4
i =  4 j = 0
i =  4 j = 1
i =  4 j = 2
i =  4 j = 3
i =  4 j = 4

### While Loops

In [68]:
#syntax is while keyword, condition statement -- will continue to run if true 

num = 0
while num < 10:
    print(num)
    num +=1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [76]:
game_over = True 
while game_over:
    print("Infinite Loop")
    user_input = input ("Would you like to stop ?")
    if user_input == "Yes":
        game_over = False

Infinite Loop
Would you like to stop ?Yes

##### While & For Loops Used Together

In [80]:
num = 0 

while num < 5:
    print("\n While loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: " , str(i))
        
    num +=1

 While loop iteration: 0
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 1
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 2
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 3
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 4
For loop iteration:  0
For loop iteration:  1

### Built-In Functions

##### range()

In [96]:
#range (Start, stop step)
for i in range(1,20,3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [100]:
name = input("What is your name? ")
length =len(name)
print(length)
#lengh counts spaces

What is your name? Bethany
7

##### help()

In [102]:
#this allows you to view more info about a phython function

help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [104]:
#check a variable to find out what object family or data type it belongs to
#syntax is inistance(var,type)

print(isinstance(4.5,int))

if isinstance(4.5,float):
    print("This number is a float type")

False
This number is a float type

##### abs()

In [105]:
#absolute -- how far x is from 0....i.e. -5 = 5

print(abs(-5))

5

### Try and Except

In [113]:
#use this to log out graceful and useful error messages -- will not stop program

try:
    input_num = int(input("Guess a number"))
    print("Your number is: " + str(input_num))
except:
    print("That didn't work - pls change your input to a number")

Guess a numberCrazy
That didn't work - pls change your input to a number

### Lists

##### Declaring Lists

In [122]:
list_1 = []
names = ["Max", "Cindy", "Kathy", "Bob", "Nate"]
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

##### Indexing a List

In [131]:
#list_name[start: stop : step]

#single index
print(names[0])

#Print starting at index 1 going to the end
print(names[1:])

#Print starting at the beginning of the list up until a number
print(names[:2]) 

#Print starting at index 1 and going up by 2
print(names[1::2])

#Print starting at the back and present in reverse order
print(names[::-1])

Max
['Cindy', 'Kathy', 'Bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'Bob']
['Nate', 'Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [133]:
names.append("Brandon")
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate', 'Brandon']

##### .insert()

In [136]:
names.insert(3,"Devon")
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'Devon', 'Bob', 'Nate', 'Brandon']

##### .pop()

In [147]:
#defaults to the last value if no parameter is given
#pop returns the element that was removed in case you want to assign it to a variable
names = ['Max', 'Cindy', 'Kathy', 'Bob', 'Nate', 'Brandon', "Brandon", "Brandon"]
my_name = names.pop(2)
print(my_name)
print(names)

Kathy
['Max', 'Cindy', 'Bob', 'Nate', 'Brandon']


##### .remove()

In [155]:
#value to be removed rather than index
names.remove("Nate")
print(names)

#to remove the value multiple times vs. first instance
while"Brandon" in names:
    names.remove("Brandon")
print(names)

['Max', 'Brandon']
['Max']

##### del()

In [157]:
#goes by index
list = ["Brandon", "Cindy", "Robert", "Max", "Daniel"]
del(list[1])
print(list)

['Brandon', 'Robert', 'Max', 'Daniel']

##### Concatenating Two Lists

In [163]:
#will append 2 lists together -- it will not add values

list_2 = [0,1,2]
list_3 = [3,4,5]
large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [162]:
#Lists can hold any type of other element, including other lists 
names = ["Max", "Sam", "Josh", ["Sally","Sue", "Samantha"]]
print(names)
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Samantha']]
Sue

##### Looping Through Lists

In [173]:
#2 ways to loop through a list --- 1 by index, the other using the 'in' keyword

names_4 = ["Max", "Sam", "Josh", ["Sally", ["Sue", "Jim"], "Tameka"]]

#by index
for i in range (len(names_4)):
    print(names_4[i])
    
#loop with 'in' keyword
for i in names_4:
    print(i)

Max
Sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']
Max
Sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [41]:
for i in range (1,1000):
    cube_i = i**3
    if cube_i > 1000:
        break 
    else:
        print(cube_i)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [40]:
for i in range(2,101): 
    for j in range(2,101):
        if i%j == 0:
            break
    if i == j:
        print(i,end=",")

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [90]:
age = input("How old are you? ")
if age < str(18):
    print("Kids")
elif age <=str(65):
    print("Adults")
else:
    print("Seniors")

How old are you? 66
Seniors